* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background {
    height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
    
}

.footer__menu {
    height: 400px;
    width: 100%;
    display: flex;
}

.menu__metrics {
    background-color: purple;
    width: 40%;
}

.menu__buttons {
    background-color: blue;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button__action {
    padding: 40px 120px;
    margin: 0 auto;
    border-radius: 30px;
}

.nameinput {
    background-color: orange;
    height: 400px;
    width: 600px;
    align-self: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

input {
    text-align: center;
    width: 50%;
}

.loss__msg {
    text-align: center;
    display: none;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    z-index: 4;
    background-color: yellow;
    height: 400px;
    width: 600px;
}

