* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: red;
    
}

.footer__menu {
    height: 30%;
    width: 100%;
    display: flex;
}

.menu__metrics {
    background-color: purple;
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.menu__buttons {
    background-color: blue;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.button__action {
    width: 20%;
    height: 40%;
    border-radius: 30px;
}

.nameinput {
    background-color: orange;
    height: 25%;
    width: 35%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

input {
    text-align: center;
    width: 50%;
}

.loss__msg {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: yellow;
    height: 400px;
    width: 600px;
}

.background__firstevo {
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: yellow;
    height: 400px;
    width: 600px;
}

.background__secondevo {
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: yellow;
    height: 400px;
    width: 600px;
}

.background__start {
    position: absolute;
    align-self: flex-end;
    padding: 15px 0px;
    width: 150px;
    top: 100px;
    right: 10px;
}

.background__instructions{
    position: absolute;
    align-self: flex-end;
    padding: 15px 0px;
    width: 150px;
    top: 50px;
    right: 10px;
}

#instructions__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;


}

#modal__content {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 450px;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* Metrics Bar */



.metrics__container {
    /* background-color: green; */
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.bar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}
#metrics__image {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: white;
    border: 5px solid orange;
}

.container__hunger {
    width: 100%;
    background-color: rgba(209, 31, 129, .5);
    border-radius: 10px;
    height: 20%;
    text-align: center;
    z-index: 7;
}

#hunger__bar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(209, 31, 129, 1);
    z-index: 8;
}

.container__sleepiness {
    width: 100%;
    background-color: rgba(31, 209, 126, .5);
    border-radius: 10px;
    height: 20%;
    text-align: center;
    z-index: 7;
}

#sleepiness__bar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(31, 209, 126, 1);
    z-index: 8;
}

.container__boredom {
    width: 100%;
    background-color: rgba(34, 31, 209, .5);
    border-radius: 10px;
    height: 20%;
    text-align: center;
    z-index: 7;
}

#boredom__bar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(34, 31, 209, 1);
    z-index: 8;
}

.metrics__age {
    align-self: center;
    position: relative;
}
